<template>
  <a-form-model ref="filialeForm" :model="form" :rules="rules">
    <a-form-model-item label="Nom" prop="nom" ref="nom">
      <a-input size="large" v-model="form.nom" placeholder="Nom" />
    </a-form-model-item>

    <a-form-model-item label="Adresse" prop="adresse" ref="adress">
      <a-input size="large" v-model="form.adresse" placeholder="Localisation" />
    </a-form-model-item>

    <a-form-model-item label="Contact" prop="telephone" ref="telephone">
      <a-input
        size="large"
        v-model="form.telephone"
        placeholder="Numéro de telephone"
      />
    </a-form-model-item>

    <div style="margin-bottom: 20px"></div>
    <a-form-model-item>
      <a-row :gutter="8">
        <a-col :xs="12">
          <a-button size="large" type="primary" @click="onCancel" ghost block>
            Annuler
          </a-button>
        </a-col>
        <a-col :xs="12">
          <a-button
            size="large"
            type="primary"
            html-type="submit"
            @click="onSubmit"
            block
          >
            Enregistrer
          </a-button>
        </a-col>
      </a-row>
    </a-form-model-item>
  </a-form-model>
</template>

<script>
import { initialFilialeValue } from "../../../data";

const importantRule = [
  {
    required: true,
    message: "Important",
    trigger: "blur",
  },
];

export default {
  name: "FilialeForm",
  props: {
    addItem: { type: Function },
    onCancel: { type: Function },
  },

  data() {
    return {
      form: initialFilialeValue,
      rules: {
        nom: importantRule,
        adresse: importantRule,
        telephone: importantRule,
      },
    };
  },

  methods: {
    onSubmit() {
      this.$refs.filialeForm.validate((valid) => {
        if (valid) {
            alert("submit!");
          console.log(this.form.adresse);
          const value = {
            adresse: this.form.adresse,
            id: Date.now(),
            nom: this.form.adresse,
            telephone: this.form.telephone,
          };

          this.$emit("addItem", value);
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm() {
      this.$refs.filialeForm.resetFields();
    },
  },
};
</script>
<style scoped>
.ant-form-item {
  margin-bottom: 10px;
}
</style>
