<template>
  <a-form-model ref="filialeForm" :model="form" :rules="rules">
    <a-form-model-item label="Nom" prop="nom" ref="nom">
      <a-input size="large" v-model="form.nom" placeholder="Nom" />
    </a-form-model-item>

    <a-form-model-item label="Adresse" prop="adresse" ref="adress">
      <a-input size="large" v-model="form.adresse" placeholder="Localisation" />
    </a-form-model-item>

    <a-form-model-item label="Contact" prop="phone" ref="phone">
      <a-input
        size="large"
        v-model="form.phone"
        placeholder="Numéro de telephone"
      />
    </a-form-model-item>

    <div style="margin-bottom: 20px"></div>
    <a-form-model-item>
      <a-row :gutter="8">
        <a-col :xs="12">
          <a-button
            size="large"
            type="primary"
            @click="handleCancel"
            ghost
            block
          >
            Annuler
          </a-button>
        </a-col>
        <a-col :xs="12">
          <a-button
            size="large"
            type="primary"
            html-type="submit"
            @click="onSubmit"
            block
          >
            Enregistrer
          </a-button>
        </a-col>
      </a-row>
    </a-form-model-item>
  </a-form-model>
</template>

<script>
const importantRule = [
  {
    required: true,
    message: "Important",
    trigger: "blur",
  },
];

export default {
  name: "FilialeForm",
  props: {
    addItem: { type: Function },
    onCancel: { type: Function },
    data: {
      type: Object,
      default: () => {},
    },
  },

  created() {
    this.form = { ...this.data };
  },

  data() {
    return {
      form: this.data,
      rules: {
        nom: importantRule,
        adresse: importantRule,
        phone: importantRule,
      },
    };
  },

  methods: {
    onSubmit() {
      this.$refs.filialeForm.validate(async (valid) => {
        if (valid) {
          const value = {
            _id: this.form._id,
            adresse: this.form.adresse,
            nom: this.form.nom,
            phone: this.form.phone,
          };

          await this.$emit("addItem", value);
        } else {
          return false;
        }
      });
    },

    handleCancel() {
      this.$emit("onCancel");
    },

    resetForm() {
      this.$refs.filialeForm.resetFields();
    },
  },
};
</script>
<style scoped>
.ant-form-item {
  margin-bottom: 10px;
}
</style>
