<template>
  <a-page-header @back="() => $router.go(-1)">
    <span slot="title">
      {{ value._id === undefined ? "Création de filiale" : " Modification" }}
    </span>
    <!-- <span slot="extra">
      <a-button type="primary" size="large"> Enrégistrer </a-button>
    </span> -->
  </a-page-header>
</template>

<script>
export default {
  name: "FormHeader",
  props: ["value"],
};
</script>

<style>
.ant-page-header {
  padding: 0px !important;
}
</style>
