<template>
  <div>
    <FilialeForm
      v-bind:data="data"
      v-on:addItem="onSubmit"
      v-on:onCancel="onCancel"
    />
    <div v-if="showError">
      <a-alert
        type="error"
        :message="errorMessage"
        banner
        style="margin-bottom:16px"
      />
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { defaultData } from "../config";

import FilialeForm from "./Form";

export default {
  name: "EditFiliale",
  props: {
    data: {
      type: Object,
      default: () => defaultData,
    },
  },

  data() {
    return {
      showError: false,
    };
  },

  methods: {
    ...mapActions(["UpsertFiliale"]),

    async onSubmit(body) {
      try {
        let value = await this.UpsertFiliale(body);

        this.showError = false;
        this.$emit("onSuccess", value);
      } catch (message) {
        this.errorMessage = message;
        this.showError = true;

        setTimeout(() => {
          this.showError = false;
          this.errorMessage = "";
        }, 3000);
      }
    },

    onCancel() {
      this.showError = false;
      this.$emit("onCancel");
    },
  },

  components: {
    FilialeForm,
  },
};
</script>

<style>
.ant-page-header {
  padding: 0px !important;
}
</style>
