<template>
  <div class="auth-container">
    <div class="level5" style="width:100%; text-align:center">
      Connexion
    </div>
    <a-form-model
      :model="authForm"
      @submit="handleSubmit"
      @submit.native.prevent
      :rules="rules"
    >
      <a-form-model-item label="Votre identifiant" prop="email">
        <a-input v-model="authForm.email" size="large" placeholder="Email">
          <a-icon slot="prefix" type="user" style="color:rgba(0,0,0,.25)" />
        </a-input>
      </a-form-model-item>

      <a-form-model-item label="Mot de passe">
        <a-input
          v-model="authForm.password"
          type="password"
          placeholder="Votre mot de passe"
          size="large"
        >
          <a-icon slot="prefix" type="lock" style="color:rgba(0,0,0,.25)" />
        </a-input>
      </a-form-model-item>

      <div v-if="showError">
        <a-alert
          type="error"
          :message="errorMessage"
          banner
          style="margin-bottom:16px"
        />
      </div>

      <a-form-model-item>
        <a-button
          type="primary"
          html-type="submit"
          size="large"
          block
          :disabled="authForm.email === '' || authForm.password === ''"
        >
          Se connecter
        </a-button>
      </a-form-model-item>
    </a-form-model>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  name: "Authentification",
  data() {
    return {
      errorMessage: "",
      showError: false,
      authForm: {
        email: "",
        password: "",
      },
      rules: {
        email: [
          {
            type: "email",
            message: "Adresse email non valide",
          },
        ],
      },
    };
  },

  methods: {
    ...mapActions(["LogIn"]),

    initialiseForm() {
      this.authForm.email = "";
      this.authForm.password = "";
    },

    async handleSubmit() {
      try {
        await this.LogIn(this.authForm);
        this.showError = false;
        this.$router.push("/");
      } catch (message) {
        this.errorMessage = message;
        this.showError = true;
        this.initialiseForm();

        setTimeout(() => {
          this.showError = false;
          this.errorMessage = "";
        }, 3000);
      }
    },
  },
};
</script>
<style scoped>
.auth-container {
  max-width: 500px;
  margin: auto;
}
</style>
