<template>
  <div class="children-list">
    <a-list item-layout="horizontal" :data-source="enfants">
      <a-list-item slot="renderItem" slot-scope="item">
        <a-icon
          v-if="editing"
          slot="actions"
          style="font-size: 20px"
          type="edit"
          @click="() => handleEdit(item.id)"
        />

        <a-icon
          v-if="editing"
          slot="actions"
          type="minus"
          style="color: red; font-size: 20px"
          @click="() => handleDelete(item.id)"
        />

        <a-list-item-meta>
          <span slot="description">
            Né(e) le

            {{ item.dateNaissance | moment("d/MM/YYYY") }}
          </span>
          <span class="name-value" slot="title"
            >{{ item.nom }} {{ item.prenom }}</span
          >
        </a-list-item-meta>
      </a-list-item>
    </a-list>
  </div>
</template>

<script>
export default {
  name: "ChildrenList",
  props: {
    editing: {
      type: Boolean,
    },

    enfants: {
      type: Array,
      default: function() {
        return [];
      },
    },

    onDelete: {
      type: Function,
    },

    onUpdate: {
      type: Function,
    },
  },

  methods: {
    handleEdit(id) {
      this.onUpdate && this.onUpdate(id);
    },

    handleDelete(id) {
      this.onDelete && this.onDelete(id);
    },
  },
};
</script>

<style>
.children-list {
  border: solid 1px #e2e2e2;
  max-height: 135px;
  height: 135px;
  overflow-y: scroll;
  padding: 0px 8px 6px 8px;
}

.name-value {
  font-size: 18px;
}
</style>
