<template>
  <a-row>
    <a-col :sm="4" :xs="24">
      <span class="level5"> Enfants</span>
    </a-col>

    <a-col :sm="20" :xs="24" class="description">
      <ChildrenList v-bind:enfants="enfants" />
    </a-col>
  </a-row>
</template>

<script>
import ChildrenList from "./ChildrenList";
export default {
  name: "ChildrenInfo",
  props: ["enfants"],
  components: {
    ChildrenList,
  },
};
</script>

<style>
.name-value {
  font-size: 18px;
}
</style>
