<template>
  <a-row>
    <a-col :sm="4" :xs="24">
      <span class="level5 info-rubrique"> Filiale</span>
    </a-col>

    <a-col :sm="20" :xs="24" class="description">
      <a-row type="flex" class="data-row">
        <a-col flex="none" class="data-property">nom </a-col>
        <a-col flex="auto" class="data-value">{{ filiale.nom }}</a-col>
      </a-row>

      <a-row type="flex" class="data-row">
        <a-col flex="none" class="data-property">Adresse</a-col>
        <a-col flex="auto" class="data-value">{{ filiale.adresse }}</a-col>
      </a-row>

      <a-row type="flex" class="data-row">
        <a-col flex="none" class="data-property">Contact</a-col>
        <a-col flex="auto" class="data-value">{{ filiale.telephone }}</a-col>
      </a-row>
    </a-col>
  </a-row>
</template>

<script>
export default {
  name: "FilialeInfo",
  props: {
    filiale: {
      type: Object,
      default: () => {},
    },
  },
};
</script>

<style></style>
