<template>
  <a-row :gutter="[0, 15]">
    <a-col style="text-align:center" :sm="4" :xs="24">
      <a-avatar :size="100" icon="user" class="info-rubrique" :src="imageUrl" />
    </a-col>

    <a-col :sm="20" :xs="24" class="description employe-description">
      <a-row type="flex" class="data-row">
        <a-col flex="none" class="data-property">Nom </a-col>
        <a-col flex="auto" class="data-value">{{ user.nom }}</a-col>
      </a-row>

      <a-row type="flex" class="data-row">
        <a-col flex="none" class="data-property">Prénom</a-col>
        <a-col flex="auto" class="data-value">{{ user.prenom }}</a-col>
      </a-row>

      <a-row>
        <a-col>
          <a-row type="flex" class="data-row">
            <a-col flex="none" class="data-property">Date de naissance</a-col>
            <a-col flex="auto" class="data-value">{{
              user.dateNaissance | moment("d/MM/YYYY")
            }}</a-col>
          </a-row>
        </a-col>

        <a-col>
          <a-row type="flex" class="data-row">
            <a-col flex="none" class="data-property">Lieu de naissance</a-col>
            <a-col flex="auto" class="data-value">{{
              user.lieuNaissance
            }}</a-col>
          </a-row>
        </a-col>
      </a-row>

      <a-row>
        <a-col>
          <a-row type="flex" class="data-row">
            <a-col flex="none" class="data-property">Nationalité</a-col>
            <a-col flex="auto" class="data-value">{{ user.nationalite }}</a-col>
          </a-row>
        </a-col>

        <a-col>
          <a-row type="flex" class="data-row">
            <a-col flex="none" class="data-property">Langues parlées</a-col>
            <a-col flex="auto" class="data-value">{{
              user.langues.toString()
            }}</a-col>
          </a-row>
        </a-col>
      </a-row>
    </a-col>
  </a-row>
</template>

<script>
import { getImageRAndom } from "../imagesConfig";

export default {
  name: "GenearalInfo",
  props: ["user"],
  methods: {},
  data() {
    return {
      imageUrl: getImageRAndom(),
    };
  },
};
</script>

<style></style>
