<template>
  <div>
    <a-skeleton v-if="loading" avatar :paragraph="{ rows: 4 }" />

    <a-page-header v-if="!loading" title="Détails" @back="() => $router.go(-1)">
      <span slot="subTitle" class="level6"
        >{{ user.nom }} {{ user.prenom }}</span
      >

      <template slot="extra">
        <a-button class="action-button" @click="handleEdit">Modifier</a-button>
      </template>
    </a-page-header>

    <div style="margin-top: 40px" />
    <a-skeleton v-if="loading" :paragraph="{ rows: 4 }" />
    <GeneralInfo v-if="!loading" v-bind:user="user" />

    <div style="margin-top: 40px" />
    <a-skeleton v-if="loading" :paragraph="{ rows: 4 }" />
    <FilialeInfo v-if="!loading" v-bind:filiale="filiale" />

    <div style="margin-top: 40px" />
    <a-skeleton v-if="loading" :paragraph="{ rows: 4 }" />
    <ChildrenInfo v-if="!loading" v-bind="user" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import GeneralInfo from "./GeneralInfo";
import FilialeInfo from "./FilialeInfo";
import ChildrenInfo from "./ChildrenInfo";
import { showErrorNote } from "../../../utils";

export default {
  name: "UserDetails",
  props: ["userId"],

  data() {
    return {
      user: undefined,
      loading: true,
      filiale: undefined,
    };
  },

  created: async function() {
    await this.initialize();
  },

  computed: {
    ...mapGetters({
      Employes: "StateEmployes",
      User: "StateUser",
    }),
  },

  methods: {
    ...mapActions(["CreateEmploye", "GetEmploye", "GetFiliales"]),

    async setFiliale() {
      let filiales = await this.GetFiliales();

      const index = filiales.findIndex(
        (item) => item._id === this.user.filiale
      );

      console.log({ index });
      this.filiale = index !== -1 ? filiales[index] : {};
    },

    async initialize() {
      try {
        if (this.userId && this.userId !== "") {
          this.user = await this.GetEmploye(this.userId);
          await this.setFiliale();

          setTimeout(() => {
            this.loading = false;
          }, 1000);
        } else {
          this.loading = false;
          this.$router.push("/");
        }
      } catch (error) {
        showErrorNote(
          this,
          "Chargement en cours...",
          "Une erreur s'est produite"
        );
        this.loading = false;
        console.log({ error });
        this.$router.push("/");
      }
    },

    async handleEdit() {
      // await this.$nextTick();
      this.$router.push({ name: "editUser", params: { userId: this.userId } });
    },
  },
  components: {
    GeneralInfo,
    FilialeInfo,
    ChildrenInfo,
  },
};
</script>

<style></style>
