<template>
  <a-form-model ref="childrenForm" :model="currentUser" :rules="rules">
    <a-form-model-item label="Nom" prop="nom" ref="nom">
      <a-input size="large" v-model="currentUser.nom" placeholder="Nom" />
    </a-form-model-item>

    <a-form-model-item label="Prénom" prop="prenom" ref="prenom">
      <a-input
        size="large"
        v-model="currentUser.prenom"
        placeholder="Prénom de l'enfant"
      />
    </a-form-model-item>

    <a-form-model-item
      label="Date de naissance"
      prop="dateNaissance"
      ref="dateNaissance"
    >
      <a-date-picker
        v-model="currentUser.dateNaissance"
        type="date"
        size="large"
        placeholder="Sélectionner la date de naissance"
        style="width: 100%"
      />
    </a-form-model-item>

    <div style="margin-bottom: 20px"></div>
    <a-form-model-item>
      <a-row :gutter="8">
        <a-col :xs="12">
          <a-button size="large" type="primary" @click="onCancel" ghost block>
            Annuler
          </a-button>
        </a-col>
        <a-col :xs="12">
          <a-button
            size="large"
            type="primary"
            html-type="submit"
            @click="onSubmit"
            block
          >
            Enregistrer
          </a-button>
        </a-col>
      </a-row>
    </a-form-model-item>
  </a-form-model>
</template>

<script>
const importantRule = [
  {
    required: true,
    message: "Important",
    trigger: "blur",
  },
];

export default {
  name: "ChildrenForm",
  props: {
    addItem: { type: Function },
    onCancel: { type: Function },
    forUpdate: {
      type: Boolean,
      default: false,
    },

    currentUser: {
      type: Object,
      default: () => ({}),
    },
  },

  data() {
    return {
      rules: {
        nom: importantRule,
        dateNaissance: importantRule,
        prenom: importantRule,
      },
    };
  },

  methods: {
    onSubmit() {
      this.$refs.childrenForm.validate((valid) => {
        if (valid) {
          const value = {
            id: this.currentUser.id || `${Date.now()}`,
            dateNaissance: this.currentUser.dateNaissance,
            nom: this.currentUser.nom,
            prenom: this.currentUser.prenom,
          };

          this.currentUser = {};
          this.$emit("addItem", value);
        } else {
          return false;
        }
      });
    },
    // onCancel() {},
    resetForm() {
      this.$refs.childrenForm.resetFields();
    },
  },
};
</script>
<style scoped>
.ant-form-item {
  margin-bottom: 10px;
}
</style>
