<template>
  <fragment>
    <a-row type="flex">
      <a-col flex="auto">
        <span class="level5 info-data"> Enfants </span>
      </a-col>
      <a-col flex="none">
        <a-button ghost type="primary" @click="showModal">
          Ajouter
        </a-button>

        <a-modal
          v-model="modalVisible"
          title="Ajouter un enfant"
          @cancel="onCancel"
          :footer="null"
        >
          <ChildrenForm
            @addItem="addItem"
            v-bind:onCancel="onCancel"
            v-bind:currentUser="currentUser"
            v-bind:forUpdate="currentUser !== undefined"
          />
        </a-modal>
      </a-col>
    </a-row>

    <a-divider style="margin: 4px 0px;" />

    <ChildrenList
      v-bind:editing="true"
      v-bind:enfants="enfants"
      v-bind:onDelete="onDelete"
      v-bind:onUpdate="onUpdate"
    />
  </fragment>
</template>

<script>
import ChildrenList from "../Info/ChildrenList";
import ChildrenForm from "./ChildrenForm";

const importantRule = [
  {
    required: true,
    message: "Important",
    trigger: "blur",
  },
];

export default {
  name: "ChildrenListForm",
  props: {
    setUser: { type: Function },
    enfants: {
      type: Array,
      default: () => [],
    },
  },

  components: { ChildrenList, ChildrenForm },

  data() {
    return {
      modalVisible: false,
      currentUser: undefined,

      rules: {
        nom: importantRule,
        dateNaissance: importantRule,
        prenom: importantRule,
      },
    };
  },

  methods: {
    showModal() {
      this.modalVisible = true;
    },

    onCancel() {
      this.modalVisible = false;
      this.currentUser = undefined;
    },

    addItem(value) {
      let values = [...this.enfants];

      const index = this.enfants.findIndex((item) => item.id === value.id);

      console.log({ index });
      if (index === -1) {
        values = [...values, value];
      } else {
        values[index] = value;
      }

      this.$emit("setUser", { value: values, name: "enfants" });

      this.modalVisible = false;
      this.currentUser = undefined;
    },

    onDelete(id) {
      const val = this.enfants.filter((item) => item.id !== id);
      this.$emit("setUser", { value: val, name: "enfants" });
    },

    onUpdate(id) {
      const index = this.enfants.findIndex((item) => item.id === id);
      if (index !== -1) {
        this.currentUser = {
          nom: this.enfants[index].nom,
          dateNaissance: this.enfants[index].dateNaissance,
          id: this.enfants[index].id,
          prenom: this.enfants[index].prenom,
        };

        console.log({ curr: this.currentUser });

        this.modalVisible = true;
      }
    },
  },
};
</script>
<style scoped>
.ant-form-item {
  margin-bottom: 10px;
}
</style>
