<template>
  <fragment>
    <a-form-model-item prop="filiale" ref="filiale">
      <a-row :gutter="5" type="flex">
        <a-col flex="auto">
          <a-select
            show-search
            :size="size"
            v-model="user.filiale"
            placeholder="Sélectionner une filiale"
          >
            <a-select-option
              v-for="item in filiales"
              :key="item._id"
              :value="item._id"
            >
              {{ item.nom }}
            </a-select-option>

            <div slot="dropdownRender" slot-scope="menu">
              <v-nodes :vnodes="menu" />
              <a-divider style="margin: 4px 0" />
              <FilialePoper @handleSuccess="handleNewFiliale">
                <div
                  slot="trigger"
                  slot-scope="{ showModal }"
                  style="padding: 4px 8px; cursor: pointer"
                  @mousedown="(e) => e.preventDefault()"
                  @click="showModal"
                >
                  <a-icon type="plus" /> Ajouter une filiale
                </div>
              </FilialePoper>
            </div>
          </a-select>
        </a-col>
        <a-col flex="none">
          <FilialePoper @handleSuccess="handleNewFiliale">
            <a-button
              shape="circle"
              @click="showModal"
              slot-scope="{ showModal }"
              icon="plus"
              :size="size"
            />
          </FilialePoper>
        </a-col>
      </a-row>
    </a-form-model-item>
  </fragment>
</template>
<script>
import FilialePoper from "../../Filiale/FilialePoper";
import { mapGetters } from "vuex";

export default {
  name: "FilialeSelect",

  props: {
    user: {
      type: Object,
    },
    setUser: {
      type: Function,
    },
    size: {
      type: String,
      default: "large",
    },
  },

  computed: {
    ...mapGetters({ filiales: "StateFiliales" }),
  },

  components: {
    VNodes: {
      functional: true,
      render: (h, ctx) => ctx.props.vnodes,
    },
    FilialePoper,
  },

  methods: {
    handleNewFiliale(body) {
      console.log({ body });
      if (body) this.$emit("setUser", { name: "filiale", value: body._id });
    },
  },
};
</script>
