<template>
  <a-form-model ref="userForm" :model="user" :rules="rules">
    <span class="level5 info-data"> Générale</span>
    <GeneralInfoForm v-bind:user="user" v-bind:size="size" />

    <div style="margin-bottom: 8px" />

    <span class="level5 info-data"> Filiale </span>
    <div style="margin-bottom: 8px" />

    <FilialeField v-bind:user="user" @setUser="setUser" />

    <a-form-model-item prop="enfants" ref="enfants">
      <ChildrenListForm
        v-bind:enfants="user.enfants"
        @setUser="setUser"
        v-bind:size="size"
      />
    </a-form-model-item>

    <div style="margin-bottom: 50px" />

    <a-form-model-item>
      <a-row :gutter="8">
        <a-col :xs="{ span: 12 }" :sm="{ span: 6, offset: 12 }">
          <a-button :size="size" block html-type="submit" @click="onCancel">
            Annuler
          </a-button>
        </a-col>
        <a-col :xs="{ span: 12 }" :sm="{ span: 6 }">
          <a-button
            :size="size"
            block
            type="primary"
            html-type="submit"
            @click="handleSubmit"
          >
            Enregistrer
          </a-button>
        </a-col>
      </a-row>
    </a-form-model-item>
  </a-form-model>
</template>

<script>
import GeneralInfoForm from "./GeneralInfoForm";
import FilialeField from "./FilialeField";
import ChildrenListForm from "./ChildrenListForm";

const importantRule = [
  {
    required: true,
    message: "Important",
    trigger: "blur",
  },
];

const numberRule = [
  {
    message: "Format non valide",
    trigger: "blur",
    pattern: /\d+/,
  },
  {
    required: true,
    message: "Important",
    trigger: "blur",
  },
];

// const phoneNumberRule = [
//   {
//     required: true,
//     message: "Important",
//     trigger: "blur",
//   },
//   {
//     message: "Format non valide",
//     trigger: "blur",
//     pattern: /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/,
//   },
// ];

export default {
  name: "UserForm",
  props: {
    user: { type: Object, default: () => ({}) },
  },
  methods: {
    handleSubmit() {
      this.$refs.userForm.validate(async (valid) => {
        if (valid) {
          this.$emit("onSubmit", this.user);
        } else {
          return false;
        }
      });
    },

    setUser({ name, value }) {
      console.log({ name, value });
      this.user[`${name}`] = value;
    },

    onCancel() {
      this.$router.go(-1);
    },

    resetForm() {
      this.$refs.userForm.resetFields();
    },
  },

  data() {
    return {
      size: "large",
      rules: {
        nom: importantRule,
        prenom: importantRule,
        cniNumber: numberRule,
        cnssNumber: numberRule,
        dateNaissance: [
          { required: true, message: "Format", trigger: "change" },
        ],
        nationalite: importantRule,
        lieuNaissance: importantRule,
        langues: importantRule,

        filiale: importantRule,
      },
    };
  },
  components: {
    GeneralInfoForm,
    FilialeField,
    ChildrenListForm,
  },
};
</script>
<style scoped>
.ant-form-item {
  margin-bottom: 10px;
}
</style>
