<template>
  <fragment>
    <a-row :gutter="[16, 16]">
      <a-col :xs="24" :sm="12">
        <a-form-model-item label="Nom" prop="nom" ref="nom">
          <a-input :size="size" v-model="user.nom" placeholder="Nom" />
        </a-form-model-item>
      </a-col>

      <a-col :xs="24" :sm="12">
        <a-form-model-item label="Prénom" prop="prenom" ref="prenom">
          <a-input :size="size" v-model="user.prenom" placeholder="Prénom" />
        </a-form-model-item>
      </a-col>

      <a-col :xs="24" :sm="12">
        <a-form-model-item
          label="Numéro Pièce d'identité"
          prop="cniNumber"
          ref="cniNumber"
        >
          <a-input
            :size="size"
            v-model="user.cniNumber"
            placeholder="N° Pièce d'identité"
          />
        </a-form-model-item>
      </a-col>

      <a-col :xs="24" :sm="12">
        <a-form-model-item
          label="Date de naissance"
          prop="dateNaissance"
          ref="dateNaissance"
        >
          <a-date-picker
            v-model="user.dateNaissance"
            type="date"
            :size="size"
            placeholder="Sélectionner la date de naissance"
            style="width: 100%"
          />
        </a-form-model-item>
      </a-col>

      <a-col :xs="24" :sm="12">
        <a-form-model-item
          label="Lieu de naissance"
          prop="lieuNaissance"
          ref="lieuNaissance"
        >
          <a-input
            :size="size"
            v-model="user.lieuNaissance"
            placeholder="Le lieu de naissance"
          />
        </a-form-model-item>
      </a-col>
      <a-col :xs="24" :sm="12">
        <a-form-model-item
          label="Nationalité"
          prop="nationalite"
          ref="nationalite"
        >
          <a-input
            :size="size"
            v-model="user.nationalite"
            placeholder="La nationalité"
          />
        </a-form-model-item>
      </a-col>

      <a-col :xs="24" :sm="12">
        <a-form-model-item label="Langues parlées" prop="langues" ref="langues">
          <a-select
            :size="size"
            v-model="user.langues"
            mode="tags"
            style="width: 100%"
            placeholder="Saisissez les langues parlées"
          />
        </a-form-model-item>
      </a-col>

      <a-col :xs="24" :sm="12">
        <a-form-model-item
          label="Numéro CNSS"
          prop="cnssNumber"
          ref="cnssNumber"
        >
          <a-input
            :size="size"
            v-model="user.cnssNumber"
            placeholder="N° CNSS"
          />
        </a-form-model-item>
      </a-col>
    </a-row>

    <a-row :gutter="16"> </a-row>

    <a-row :gutter="16"> </a-row>
  </fragment>
</template>
<script>
export default {
  name: "GeneralForm",
  props: {
    user: {
      type: Object,
      default: () => ({}),
    },
    size: {
      type: String,
      default: "large",
    },
  },
  methods: {},

  components: {},
};
</script>
