<template>
  <div>
    <FormHeader v-bind:user="data" />

    <div style="margin-top: 32px" />
    <UserForm :loading="!loading" v-bind:user="data" @onSubmit="submit" />

    <a-skeleton :loading="loading" active :paragraph="{ rows: 4 }">
    </a-skeleton>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { defaultData } from "../config";
import { showSuccessNote, showErrorNote } from "../../../utils";

import FormHeader from "./FormHeader";
import UserForm from "./Form";

export default {
  name: "EditUser",
  props: ["userId"],

  data() {
    return {
      data: { ...defaultData },
      loading: true,
    };
  },

  created: async function() {
    await this.initialize();
  },

  computed: {
    ...mapGetters({ Employes: "StateEmployes", User: "StateUser" }),
  },

  methods: {
    ...mapActions(["UpsertEmploye", "GetEmploye", "GetFiliales"]),

    async initialize() {
      try {
        if (this.userId && this.userId !== "") {
          this.data = await this.GetEmploye(this.userId);
          await this.GetFiliales();
        } else {
          this.data = defaultData;
        }

        this.loading = false;
      } catch (error) {
        console.log({ error });
        this.data = defaultData;
        this.loading = false;
      }
    },

    async submit(body) {
      try {
        let val = { ...body };

        const { enfants = [] } = val;

        for (let i = 0; i < enfants.length; i++) {
          enfants[i].id = undefined;
        }

        val.enfants = enfants;

        let value = await this.UpsertEmploye(val);

        showSuccessNote(this, "Enrégistrement en cours ...", "Bien enrégistré");

        this.data = {};
        this.data = {};

        this.$router.replace({
          name: "userDetails",
          params: { userId: value._id },
        });
      } catch (message) {
        this.errorMessage = message;

        showErrorNote(
          this,
          "Enrégistrement en cours ...",
          "erreur : " + message,
          3
        );
      }
    },
  },
  components: {
    FormHeader,
    UserForm,
  },
};
</script>

<style>
.ant-page-header {
  padding: 0px !important;
}
</style>
