<template>
  <div>
    <SearchInput
      :list="employes"
      :fuseOpts="options"
      @handleResults="handleResults"
    />
    <div style="margin-top: 16px" />

    <EmployeList
      v-bind:employes="searchResults"
      v-bind:onDeleteItem="onDeleteItem"
      :isBroken="isBroken"
    />
    <div style="margin-top: 16px" />
  </div>
</template>

<script>
import EmployeList from "./List";
import { mapGetters, mapActions } from "vuex";
import SearchInput from "../../components/SearchInput";
import { showSuccessNote } from "../../utils";

export default {
  name: "Employe",
  components: {
    SearchInput,
    EmployeList,
  },
  data() {
    return {
      image: [],
      searchResults: [...this.employes],
    };
  },

  created: async function() {
    await this.initialize();
  },

  computed: {
    ...mapGetters({ employes: "StateEmployes", isBroken: "isBroken" }),
    options() {
      return {
        keys: ["nom", "prenom", "telephone", "cniNumber", "cnssNumber"],
      };
    },
  },

  methods: {
    ...mapActions(["GetEmployes", "GetFiliales", "RemoveEmploye"]),

    initialize: async function() {
      try {
        await this.GetEmployes();
        await this.GetFiliales();
      } catch (error) {
        console.log({ error });
      }
    },

    handleResults(value) {
      this.searchResults = value;
    },

    async onDeleteItem(item) {
      try {
        await this.RemoveEmploye(item._id);
        showSuccessNote(
          this,
          "Suppression en cours..",
          item.nom + " a été supprimé(e) avec succès"
        );
      } catch (message) {
        setTimeout(() => {
          this.showError = false;
          this.errorMessage = "";
        }, 3000);
      }
    },
  },
};
</script>

<style></style>
