<template>
  <div class="list">
    <a-list size="large" :data-source="employes">
      <a-list-item slot="renderItem" slot-scope="item">
        <div slot="actions">
          <DeleteItemButton
            :title="item.nom"
            v-bind:item="item"
            @onDelete="() => onDeleteItem(item)"
          />
        </div>

        <div slot="actions">
          <ItemAction v-bind:item="item" />
        </div>

        <UserListItem v-bind:item="item" />
      </a-list-item>
    </a-list>
  </div>
</template>

<script>
import UserListItem from "./Item";
import ItemAction from "./ItemAction";
import DeleteItemButton from "../../../components/DeleteItemButton";

export default {
  props: {
    employes: {
      type: Array,
      default: () => [],
    },
    isBroken: {
      type: Boolean,
    },
    onDeleteItem: {
      type: Function,
    },
  },

  created() {
    // console.log({ emp: this.employes });
  },

  methods: {
    handleClick(item) {
      if (this.isBroken)
        this.$router.push({
          name: "userDetails",
          params: { userId: item._id, user: item },
        });
    },
  },
  components: {
    DeleteItemButton,
    UserListItem,
    ItemAction,
  },
};
</script>
<style>
.list {
  overflow: auto;
}
.loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
</style>
