<template>
  <fragment>
    <a-list-item-meta>
      <div class="description" slot="description">
        <div class="tag" style="margin-right: 10px;">
          <a-icon type="home" style="margin-right: 5px;" />{{
            item.filiale.nom
          }}
        </div>
        CNSS : {{ item.cnssNumber }}
      </div>
      <span class="body-2-semi" slot="title">
        {{ item.nom }} {{ item.prenom }}

        <span class="id-title"> # {{ item.id }} </span>
      </span>

      <a-avatar :size="60" slot="avatar" :src="imageUrl">
        {{ item.nom[0] }} {{ item.prenom[0] }}
      </a-avatar>
    </a-list-item-meta>
  </fragment>
</template>

<script>
import { getImageRAndom } from "../imagesConfig";
export default {
  name: "UserListItem",
  props: ["item"],
  data() {
    return {
      imageUrl: getImageRAndom(),
    };
  },
};
</script>

<style>
.description .tag {
  font-size: 16px;
  padding: 3px 10px;
}
.id-title {
  font-weight: normal;
  font-size: 14px;
}
</style>
