<template>
  <router-link
    :to="{
      name: 'userDetails',
      params: { userId: item._id, user: item._id },
    }"
  >
    <a-button class="details-button">Détails</a-button>
  </router-link>
</template>

<script>
export default {
  name: "ItemAction",
  props: ["item"],
};
</script>

<style></style>
