<template>
  <FilialePoper v-bind:editing="false" @handleSuccess="handleNewFiliale">
    <a-button
      type="primary"
      size="large"
      slot-scope="{ showModal }"
      slot="trigger"
      @mousedown="(e) => e.preventDefault()"
      @click="showModal"
    >
      AJOUTER
    </a-button>
  </FilialePoper>
</template>

<script>
import FilialePoper from "./FilialePoper";

export default {
  name: "AddNewFiliale",
  methods: {
    handleNewFiliale() {},
  },
  components: {
    FilialePoper,
  },
};
</script>

<style></style>
