<template>
  <div>
    <slot name="trigger" :showModal="showModal">
      <a-button shape="circle" @click="showModal" icon="plus" size="large" />
    </slot>

    <a-modal
      v-model="modalFormVisible"
      :title="!editing ? `Nouvelle filiale` : `Editer la filiale`"
      @cancel="onCancel"
      :footer="null"
    >
      <FilialeForm
        v-bind:data="data"
        @onSuccess="onSuccess"
        @onCancel="onCancel"
      />
    </a-modal>
  </div>
</template>
<script>
import FilialeForm from "./Edit";

export default {
  name: "FilialePopOver",

  props: {
    data: {
      type: Object,
      default: () => {},
    },

    editing: {
      type: Boolean,
    },

    handleSuccess: {
      type: Function,
    },
  },

  data() {
    return { modalFormVisible: false };
  },

  components: {
    FilialeForm,
  },

  methods: {
    onSuccess(value) {
      this.modalFormVisible = false;

      this.$emit("handleSuccess", value);
      // console.log({ filiale: this.filales[0] });
    },
    showModal() {
      this.modalFormVisible = true;
    },
    onCancel() {
      this.modalFormVisible = false;
    },
  },
};
</script>
