<template>
  <div>
    <SearchInput
      :list="filiales"
      :fuseOpts="options"
      @handleResults="handleResults"
      placeholder="Chercher une filiale"
      title="Filiales"
    >
      <AddButton slot="addButton" />
    </SearchInput>

    <div style="margin-top: 16px" />

    <FilialeList
      v-bind:filiales="searchResults"
      v-bind:onDeleteItem="onDeleteItem"
    />

    <div style="margin-top: 16px" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import SearchInput from "../../components/SearchInput";
import FilialeList from "./List";
import AddButton from "./AddButton";
import { showSuccessNote } from "../../utils";

export default {
  name: "FilialesList",
  components: {
    SearchInput,
    FilialeList,
    AddButton,
  },
  data() {
    return {
      searchResults: [],
    };
  },

  created: async function() {
    await this.initialize();
  },

  computed: {
    ...mapGetters({ filiales: "StateFiliales" }),
    options() {
      return {
        keys: ["nom", "prenom", "telephone", "cniNumber", "cnssNumber"],
      };
    },
  },

  methods: {
    ...mapActions(["GetFiliales", "RemoveFiliale"]),

    initialize: async function() {
      try {
        this.GetFiliales();
      } catch (error) {
        console.log({ error });
      }
    },

    async onDeleteItem(item) {
      try {
        await this.RemoveFiliale(item._id);
        showSuccessNote(
          this,
          "Suppression en cours..",
          "Suppression avec succès"
        );
      } catch (message) {
        setTimeout(() => {
          this.showError = false;
          this.errorMessage = "";
        }, 3000);
      }
    },

    handleResults(value) {
      this.searchResults = value;
    },
  },
};
</script>

<style></style>
