<template>
  <router-link
    :to="{
      name: 'newUser',
    }"
  >
    <a-button type="primary" size="large"> AJOUTER </a-button>
  </router-link>
</template>

<script>
export default {
  name: "AddButton",
};
</script>

<style></style>
