<template>
  <a-popconfirm
    :title="`Etes vous sûr de vouloir supprimer ${title}？`"
    ok-text="Oui"
    cancel-text="Non"
    placement="topRight"
    @confirm="confirm"
  >
    <a-button class="delete-button">
      Supprimer
    </a-button>
  </a-popconfirm>
</template>

<script>
export default {
  name: "DeleteItemButton",
  props: {
    title: {
      type: String,
      default: "cet enregistrement",
    },
  },
  methods: {
    confirm() {
      this.$emit("onDelete");
    },
  },
};
</script>

<style></style>
