<template>
  <a-select
    :size="size"
    :v-model="user.langues"
    mode="tags"
    style="width: 100%"
    placeholder="Saississez les langues parlées"
  >
  </a-select>
</template>
<script>
export default {
  name: "LangueInput",
  props: ["user", "size"],

  created() {
    console.log({ mmm: this.modelField });
  },

  methods: {
    handleChange(value) {
      console.log(`selected ${value}`);
    },
  },
};
</script>
