<template>
  <div>
    <a-row justify="space-between" type="flex">
      <a-col flex="auto">
        <span class="level6">{{ title }}</span>
      </a-col>
      <a-col :xs="{ flex: `none` }" :sm="0" class="add-col">
        <slot name="addButton">
          <AddButton />
        </slot>
      </a-col>
    </a-row>

    <div style="margin-top: 24px; display: inline-block; " />

    <a-affix :offset-top="65" style="background:#fff">
      <div style="background: #fff; padding: 10px 0px;">
        <VueFuse
          id="vue-fuse"
          :list="list"
          :fuse-opts="fuseOpts"
          :search="search"
          :map-results="false"
          @fuse-results="handleResults"
        />

        <a-row justify="space-between" type="flex">
          <a-col :xs="24" :sm="12">
            <a-input
              class="search-input"
              size="large"
              v-model="search"
              :placeholder="placeholder"
            >
              <a-icon slot="prefix" type="search" />
            </a-input>
          </a-col>
          <a-col :xs="0" :sm="12" class="add-col">
            <slot name="addButton">
              <AddButton />
            </slot>
          </a-col>
        </a-row>
      </div>
    </a-affix>
  </div>
</template>

<script>
import AddButton from "./AddButton";
import VueFuse from "vue-fuse";

export default {
  name: "SearchInput",
  props: {
    placeholder: { type: String, default: "Trouver un employé" },
    fuseOpts: { type: Object },
    list: {
      type: Array,
      default: () => [],
    },
    title: {
      type: String,
      default: "Employés",
    },
  },

  components: {
    VueFuse,
    AddButton,
  },

  data() {
    return {
      search: "",
    };
  },

  methods: {
    handleResults(r) {
      const value = r.map((val) => val.item);
      this.$emit("handleResults", value);
    },
  },
};
</script>

<style>
.add-col {
  text-align: right;
}
.ant-input-affix-wrapper {
  height: 40px !important;
}

#vue-fuse {
  display: none;
}
</style>
