<template>
  <div id="app">
    <AppLayout>
      <Header
        slot="headerRender"
        slot-scope="{ collapsed, broken, onCollapsed }"
        v-bind:collapsed="collapsed"
        v-bind:broken="broken"
        v-bind:onCollapsed="onCollapsed"
      />

      <div ref="container" slot="contentRender" class="container body">
        <router-view />
      </div>

      <Footer slot="footerRender" />
    </AppLayout>
  </div>
</template>

<script>
import Header from "./layouts/Header";
import Footer from "./layouts/Footer";
import AppLayout from "./layouts";

export default {
  name: "App",
  components: {
    Header,
    Footer,
    AppLayout,
  },
  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isLoggedIn;
    },
  },

  created: function() {
    this.$http.interceptors.response.use(undefined, function(err) {
      return new Promise(function() {
        if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
          this.$store.dispatch("logout");
        }
        throw err;
      });
    });
  },

  methods: {
    logout: function() {
      this.$store.dispatch("logout").then(() => {
        this.$router.push("/connexion");
      });
    },
  },
};
</script>

<style>
.container {
  background: #fff !important;
  padding: 0 25px;
}

@media only screen and (min-width: 768px) {
  .container {
    background: #fff !important;
    padding: 0 50px;
  }
}

.data-value {
  font-size: 18px;
  font-weight: 500;
}
.data-property {
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;
}

.data-row {
  margin-bottom: 15px;
}

.data-property::after {
  content: " :";
}

@media (min-width: 576px) {
  .employe-description {
    border-left: 1px solid #e4e4e4;
    padding-left: 20px !important;
  }
}

@media (max-width: 576px) {
  .ant-page-header-heading-extra {
    text-align: end;
  }
}
.container.body {
  text-align: left;
  margin: 0px;
  margin-top: 2px;
  padding-top: 28px;
}

.layout-content {
  text-align: left;
  background: #fff !important;
}

.body-1 {
  font-size: 14px;
}

.body-2 {
  font-size: 16px;
}

.body-2-semi {
  font-size: 16px;
  font-weight: 500;
  color: #373737;
}

.details-button {
  font-size: 10px;
  font-weight: bold;
  border: none !important;
  color: #0089e1 !important;
  background: #0089e112 0% 0% no-repeat padding-box !important;
}
.details-button:hover,
delete-button:hover {
  border: none !important;
}

.delete-button {
  font-size: 10px;
  font-weight: bold;
  border: none !important;
  color: #fe745f !important;
}

.body-2-semi {
  font-size: 16px;
  font-weight: 600;
}
.description {
  font-size: 15px !important;
  line-height: 19px !important;
  letter-spacing: 0px;
  color: #373737 !important;
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .ant-list-item-action {
    margin-left: 7px;
    width: 100%;
    text-align: end;
  }
}

.level6 {
  font-size: 22px;
  font-weight: 500;
}

.level5 {
  font-size: 24px;
  font-weight: 400;
}

.ant-avatar-image {
  background: transparent;
  border: #f4f4f4 1px solid;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
