<template>
  <a-menu
    style="height: 100%;text-align: left;"
    mode="inline"
    :default-selected-keys="['1']"
  >
    <a-menu-item key="1">
      <router-link
        :to="{
          name: 'employes',
        }"
      >
        <a-icon type="user" />
        <span>Employés</span>
      </router-link>
    </a-menu-item>

    <a-menu-item key="2">
      <router-link
        :to="{
          name: 'filiales',
        }"
      >
        <a-icon type="home" />
        <span>Filiales</span>
      </router-link>
    </a-menu-item>

    <!-- <a-menu-item key="3">
      <router-link
        :to="{
          name: 'employes',
        }"
      >
        <a-icon type="user" />
        <span>Utilisateurs</span>
      </router-link>
    </a-menu-item> -->

    <a-menu-item>
      <a-icon type="logout" />
      <span> <a @click="(e) => handleLogout()"> Se déconnecter</a></span>
    </a-menu-item>
  </a-menu>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "AppMenu",
  computed: {
    ...mapGetters({ isAuth: "isAuthenticated", User: "StateUser" }),
  },
  methods: {
    ...mapActions(["LogOut"]),

    async handleLogout() {
      await this.LogOut();
      this.$router.push("/connexion");
    },
  },
};
</script>

<style></style>
