<template>
  <div class="footer-container">Powered by SFP</div>
</template>

<script>
export default {};
</script>

<style>
.footer-container {
  background-color: rgb(0, 21, 41);
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
</style>
