<template>
  <div class="header">
    <div class="container appbar">
      <div v-if="isAuth && broken" class="menu-logo">
        <a-icon
          class="trigger"
          :type="collapsed ? 'menu-unfold' : 'menu-fold'"
          @click="handleoCollapsed"
        />
      </div>

      <div class="app-info">
        <div class="logo">S Track</div>

        <div v-if="canShowName()">
          <a-dropdown>
            <a class="body-2">
              Bonjour {{ User.userName }}
              <a-icon type="down" />
            </a>
            <a-menu slot="overlay">
              <a-menu-item>
                <a @click="(e) => handleLogout()"> Se déconnecter</a>
              </a-menu-item>
            </a-menu>
          </a-dropdown>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Header",

  computed: {
    ...mapGetters({ isAuth: "isAuthenticated", User: "StateUser" }),
  },

  props: {
    collapsed: {
      type: Boolean,
      default: false,
    },
    broken: {
      type: Boolean,
      default: false,
    },
    onCollapsed: {
      type: Function,
    },
  },
  methods: {
    ...mapActions(["LogOut"]),

    async handleLogout() {
      await this.LogOut();
      this.$router.push("/connexion");
    },
    handleoCollapsed() {
      this.onCollapsed();
    },
    canShowName() {
      if (!this.isAuth) return false;
      if (this.broken) {
        return this.collapsed;
      }
      return true;
    },
  },
};
</script>

<style scoped>
.header {
  width: 100%;
  background-color: #fff;
  border: #e2e2e2 solid 1px;
}

.container.appbar {
  width: 100%;
  display: inline-flex;
}

.header .container .app-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ant-layout-header {
  padding: 0px;
}

.logo {
  font-size: 22px;
  font-weight: 600;
}

.menu-logo {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}
</style>
