<template>
  <a-layout id="components-layout-demo-custom-trigger">
    <a-affix :offset-top="0">
      <a-layout-header class="header">
        <slot
          name="headerRender"
          v-bind="{ isAuth, collapsed, broken, onCollapsed }"
        />
      </a-layout-header>
    </a-affix>

    <a-layout style="z-index:1">
      <a-layout-sider
        v-if="isAuth"
        style="background: #fff;"
        v-model="collapsed"
        :trigger="null"
        breakpoint="lg"
        :collapsed-width="broken ? 0 : 80"
        @collapse="onCollapse"
        @breakpoint="onBreakpoint"
      >
        <AppMenu />
      </a-layout-sider>

      <a-layout>
        <a-layout-content
          :style="{
            minHeight: '75vh',
            paddingBottom: '50px',
            background: '#fff',
          }"
        >
          <slot name="contentRender"> Content</slot>
        </a-layout-content>

        <a-layout-footer v-if="isAuth" style="padding: Opx;">
          <slot name="footerRender"> Footer</slot>
        </a-layout-footer>
      </a-layout>
    </a-layout>
  </a-layout>
</template>

<script>
import { useWindowSize } from "vue-window-size";
import { mapGetters, mapActions } from "vuex";
import AppMenu from "./AppMenu";

export default {
  setup() {
    const { width, height } = useWindowSize();
    console.log({ width });
    return {
      windowWidth: width,
      windowHeight: height,
    };
  },

  computed: {
    ...mapGetters({ isAuth: "isAuthenticated", User: "StateUser" }),
  },
  data() {
    return {
      collapsed: true,
      logoWidth: this.getLogWidth(),
      sideBareAffixWidth: this.getSideBareAffixWidth(),
      broken: false,
    };
  },
  components: {
    AppMenu,
  },

  methods: {
    ...mapActions(["setBroken"]),
    onCollapsed() {
      this.collapsed = !this.collapsed;
      this.logoWidth = this.getLogWidth();
    },

    getLogWidth() {
      return !this.collapsed ? "width:230px" : "width:80px";
    },

    getSideBareAffixWidth() {
      if (!this.broken) {
        return !this.collapsed ? "width:240px" : "width:80px";
      }
      return "";
    },

    onCollapse(collapsed, type) {
      this.collapsed = collapsed;
      console.log({ collapsed, type });
    },

    onBreakpoint(broken) {
      this.broken = broken;
      this.setBroken(broken);
    },
  },
};
</script>

<style>
.header {
  background: #fff !important;
  padding: 0px !important;

  display: flex;
}
.trigger {
  margin-left: auto;
  margin-right: 25px;
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  /* line-height: 64px;
  padding: 0 24px;
  margin: 16px; */
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

.ant-layout-header {
  height: 60px;
}

.ant-layout.ant-layout-has-sider > div > div {
  height: 100%;
}

.ant-layout-footer {
  padding: 0px !important;
}

/* 
#components-layout-demo-custom-trigger .trigger {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
} */
</style>
