<template>
  <div class="list">
    <a-list :data-source="filiales">
      <a-list-item slot="renderItem" slot-scope="item">
        <div slot="actions">
          <DeleteItemButton
            v-bind:item="item"
            @onDelete="() => onDeleteItem(item)"
          />
        </div>
        <div slot="actions">
          <ItemAction v-bind:item="item" />
        </div>
        <FilialeListItem v-bind:item="item" />
      </a-list-item>
    </a-list>
  </div>
</template>

<script>
import FilialeListItem from "./Item";
import ItemAction from "./ItemAction";
import DeleteItemButton from "../../../components/DeleteItemButton";

export default {
  props: {
    filiales: {
      type: Array,
      default: () => [],
    },
    onDeleteItem: {
      type: Function,
    },
  },

  methods: {},
  components: {
    FilialeListItem,
    DeleteItemButton,
    ItemAction,
  },
};
</script>
<style>
.list {
  overflow: auto;
}
.loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
</style>
