<template>
  <fragment>
    <a-list-item-meta :description="item.adresse">
      <span class="body-2-semi" slot="title">
        {{ item.nom }}
      </span>
    </a-list-item-meta>
  </fragment>
</template>

<script>
export default {
  name: "FilialeListItem",
  props: ["item"],
};
</script>

<style>
.description .tag {
  font-size: 16px;
  padding: 3px 10px;
}
.id-title {
  font-weight: normal;
  font-size: 14px;
}
</style>
