<template>
  <FilialePoper
    v-bind:editing="true"
    v-bind:data="item"
    @handleSuccess="handleNewFiliale"
  >
    <a-button
      slot="trigger"
      slot-scope="{ showModal }"
      @mousedown="(e) => e.preventDefault()"
      @click="showModal"
      class="details-button"
    >
      Détails
    </a-button>
  </FilialePoper>
</template>

<script>
import FilialePoper from "../FilialePoper";

export default {
  name: "ItemAction",
  props: ["item"],
  methods: {
    handleNewFiliale() {},
  },
  components: {
    FilialePoper,
  },
};
</script>

<style></style>
